{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <!-- <a class="btn btn-outline-secondary text-left" href="{% url 'store:store' %}">&#8592; Store</a> -->
        </div>
        <div class="col">
            <h1 class="display-4 flex-grow-1 text-center">Reservations</h1>
        </div>
        <div class="col">
        </div>
    </div>
    <br>


    <style type="text/css">
        .career-form .form-control {
            /* search bar */
            border: 0;
            padding: 12px 15px;
        }

        .career-form .custom-select {
            /* select */
            border: 0;
            padding: 12px 15px;
            width: 100%;
            text-align: left;
            height: auto;
            background-image: none;
        }

        .good-look {
            background-color: rgba(33, 37, 41);
            border-radius: 5px;
        }

        .component-border {
            border: 2px solid rgb(13, 110, 253);
            border-radius: 5px;
        }

        .chbox-look {
            border: 2px solid rgb(13, 110, 253);
        }

        .chbox-reservation-look {
            font-size: 28px;
            border: 2px solid rgb(13, 110, 253);
        }

        .chbox-received-look {
            width: 28px;
            height: 28px;
            border-radius: 6px;
            border: 2px solid rgb(13, 110, 253);
            cursor: default;

            &:hover {
                cursor: pointer;
            }
        }

        .chbox-label {
            cursor: default;

            &:hover {
                cursor: pointer;
            }
        }
    </style>

    <div class="container">
        <br>
        <div class="row">
            <form class="career-form" method="get">
                <div class="row">
                    <div class="col-lg-1">
                        <button type="submit" class="btn btn-lg btn-outline-secondary" name="search_clear">
                            Clear
                        </button>
                    </div>
                    <div class="col-lg-5">
                        <div class=" component-border">
                            <input type="text" class="form-control good-look" placeholder="Enter Your Keywords..."
                                value="{{keywords}}" name="keywords">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class=" component-border">
                            <select class="custom-select good-look" name="search_category">
                                <option selected>Choose Search Category ...</option>
                                <option value="1" {% if search_category == '1' %} selected {% endif %}>ID</option>
                                <option value="2" {% if search_category == '2' %} selected {% endif %}>Email</option>
                                <option value="3" {% if search_category == '3' %} selected {% endif %}>Reservation Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-check" style="font-size: 22px; transform: translateY(8px);">
                            <input class="form-check-input chbox-look" type="checkbox" name="display_received" style="cursor: pointer;"
                                id="chbox" {% if display_received %} checked {% endif %}>
                            <label class="form-check-label chbox-label" for="chbox">
                                Show Received
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <button type="submit" class="btn btn-lg btn-primary" name="search_submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <hr>

        <div class="container h-100">
            {% include 'snippets/reservations_items_list.html' with account=False %}
            
        </div>

    </div>

</div>

{% endblock content %}