{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="mx-auto text-center d-flex align-items-center">
        <div class="flex-grow-1 d-flex justify-content-start">
            <a class="btn btn-outline-secondary" href="{% url 'store:store' %}">
                &#8592; Back
            </a>
        </div>
        {% if request.user.is_staff %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-warning add-btn" href="{% url 'store:edit_product' product.slug %}" style="margin-right: 10px;">
                Edit Product
            </a>
            <a class="btn btn-outline-danger add-btn" href="{% url 'store:delete_product' product.slug %}">
                Delete Product
            </a>
        </div>
        {% else %}
        <div class="d-flex justify-content-end">
            <a class="btn btn-outline-light" href="{% url 'store:add_to_cart' product.slug %}">
                Add To Cart
            </a>
        </div>
        {% endif %}
        <!-- <h1 class="display-4 flex-grow-1">Product</h1> -->
    </div>
    <br>
    
    {% if success_update_message %}
        <h3 style="color: green; text-align: center;"> {{success_update_message}} </h3>
    {% endif %}
	<div class="mx-auto text-center d-flex align-items-center">
        <img class="thumbnail" src="{{product.image.url}}" title="{{product.title}}" style="width: 600px; height: 800px; object-fit: contain;">
        <div class="display-4 flex-grow-1">
            <h1 class="display-5 flex-grow-1">{{product.title}}</h1>
            <h3 class="flex-grow-1" 
                style="font-size: 20px; font-weight: lighter; color: rgba(255,255,255, 0.5); word-wrap: break-word; white-space: pre-wrap;">
                Authors: {{product.authors}}
            </h3>
            <div style="text-align: right;">
                <h3 class="display-7">{{product.price|floatformat:2}}zł</h3>
            </div>
        </div>
    </div>
    <br>
    <p class="lead text-muted" style="text-align: left; margin-left: 50px; margin-right: 50px; word-wrap: break-word; white-space: pre-wrap;">
        {{product.description}}        
        {% comment %} {{product.description|safe}} {% endcomment %}
    </p>
    <br>

    <div class="border p-3">
        <div class="border p-3">
            {% if request.user.is_authenticated %}
                <div class="add-comment">
                    <form method="post" action="{% url 'store:add_comment' product.slug %}">
                        {% csrf_token %}
                        <textarea class="form-control" type="text" rows="5" name="content" required
                            placeholder="Comment content..."></textarea>
                        <button class="btn border p-2" type="submit"> Add comment </button>
                    </form>
                </div>
            {% else %}
                <p> To add a comment 
                    <a href="{% url 'login' %}">Login</a> or 
                    <a href="{% url 'register' %}">Sign-up</a>
                </p>
            {% endif %}
        </div>
        {% for comment in comments %}
            <div class="border p-3">
                <strong>{{ comment.user.email }}</strong>
                <p>{{ comment.content }}</p>
                
                {% comment %}
                    visible only if comment was not confirmed
                    and only staff can see not confirmed comments
                {% endcomment %}
                {% if comment.confirmed is False and request.user.is_staff %}
                    <form method="post" action="{% url 'store:confirm_comment' comment.id %}">
                        {% csrf_token %}
                        <button class="btn border p-2" type="submit"> Confirm Comment </button>
                    </form>
                {% endif %}
                <br>
                
                {% if comment.replies.all.count != 0 or comment.confirmed is False %}
                    {% comment %}
                        visible only if comment was not confirmed
                        and only staff can see not confirmed comments
                    {% endcomment %}
                    {% if request.user.is_staff %}
                        {% if comment.confirmed is False %}
                            <div class="border p-3">
                                <div class="reply-form">
                                    <form method="post" action="{% url 'store:add_reply' comment.id %}">
                                        {% csrf_token %}
                                        <textarea class="form-control" type="text" rows="5" name="content" required
                                            placeholder="Reply content..."></textarea>
                                        <button class="btn border p-2" type="submit"> Reply </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                        
                    {% else %}
                        <p><small>Not confirmed</small></p>
                    {% endif %}

                    {% if comment.replies.all %}
                        {% for reply in comment.replies.all %}
                            <div class="border p-3">
                                <p>{{ reply.user.email }}</p>
                                <p>{{ reply.content }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        {% empty %}
            <p>No comments</p>
        {% endfor %}

    </div>
    
</div>

{% endblock content %}