{% extends 'base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-left">
    <h1 class="display-4 text-center">About</h1>
    <div class="container">
        <h3> PL </h3>
        <p class="lead"> 
            Witaj w księgarni "Zacisze" – magicznym miejscu, gdzie strony książek ożywają, a każdy krok prowadzi do nowej przygody literackiej. Nasza księgarnia to oaza spokoju dla miłośników czytania, miejsce, które zachęca do zanurzenia się w światy wyobraźni i odkrywania tajemniczych historii.
            <br/>
            <br/>
            "Zacisze" to nie tylko sklep z książkami, to przestrzeń, w której każdy może znaleźć coś dla siebie. Od najnowszych bestsellerów po klasyki literatury światowej, nasza oferta zaspokoi gusta nawet najbardziej wymagających czytelników. Każdy kąt naszej księgarni kryje w sobie skarb w postaci fascynujących opowieści, inspirujących poradników oraz bogatych zbiorów literatury fachowej.
            <br/>
            <br/>
            Nasi pracownicy to pasjonaci, gotowi podzielić się z Tobą swoją wiedzą i zalecać tytuły dopasowane do Twoich upodobań. Bez względu na to, czy jesteś miłośnikiem powieści kryminalnych, fantastyki, czy też literatury pięknej, "Zacisze" jest miejscem, gdzie Twoje literackie marzenia się spełniają.
            <br/>
            <br/>
            Zapraszamy do "Zacisza" – miejscu, gdzie każdy, kto pragnie uciec od codziennego zgiełku, znajdzie spokój, inspirację i wiele nowych przyjaciół w świecie literatury.
        </p>
        <br/>
        <br/>
        <h3> ENG </h3>
        <p class="lead">
            Welcome to the "Zacisze" bookstore – a magical place where the pages of books come to life, and every step leads to a new literary adventure. Our bookstore is an oasis of peace for reading enthusiasts, a place that encourages immersion into the realms of imagination and the discovery of mysterious stories.
            <br/>
            <br/>
            "Zacisze" is not just a bookshop; it is a space where everyone can find something for themselves. From the latest bestsellers to classics of world literature, our selection satisfies even the most discerning readers. Every corner of our bookstore harbors a treasure in the form of fascinating stories, inspiring guides, and rich collections of professional literature.
            <br/>
            <br/>
            Our staff are enthusiasts, ready to share their knowledge with you and recommend titles tailored to your preferences. Whether you are a fan of crime novels, fantasy, or literary fiction, "Zacisze" is a place where your literary dreams come true.
            <br/>
            <br/>
            We invite you to "Zacisze" – a place where anyone seeking an escape from the daily hustle and bustle will find peace, inspiration, and many new friends in the world of literature.
        </p>
    </div>
</div>
{% endblock content %}

