{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <img height="200" src="{% static 'images/logo1-white.png' %}" alt="Zacisze logo 1">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome {{request.user.username}}!</h1>
    <p class="lead"> Here are some popular books for you: </p>

    {% if not request.user.is_superuser %}
    {% if not request.user.is_admin %}
    
    {% include 'slider_component.html' %}
    
    {% endif %}
    {% endif %}

</div>

{% endblock content %}