{% load static %}

<div class="container">

    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <!-- LEFT STUFF -->
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="{% url 'home' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <div style="margin-bottom:-30px;">
                    <img height="32" src="{% static 'images/logo2-white.png' %}" alt="Zacisze logo 2">
                </div>
                <!-- svg logo -->
                <!-- <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg> -->
            </a>
        </div>

        <!-- MIDDLE STUFF -->
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if request.user.is_authenticated %}
                <!-- registered user -->
                {% include 'snippets/header/middle_auth.html' %}
            {% else %}
                <!-- not registered user -->
                {% include 'snippets/header/middle_default.html' %}
            {% endif %}
        </ul>

        <!-- RIGHT STUFF -->
        <div class="col-md-3 text-end">
            {% if request.user.is_authenticated %}
                <!-- registered user -->
                {% include 'snippets/header/right_auth.html' %}
            {% else %}
                <!-- not registered user -->
                {% include 'snippets/header/right_default.html' %}
            {% endif %}
        </div>
    </header>
</div>