
<div class="row d-flex justify-content-center align-items-center h-100">
    {% if reservations %}
    {% for reservation in reservations %}
    <div class="card rounded-3 mb-4">
        <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-5">
                    <p class="lead fw-normal mb-2">
                        #{{reservation.id}}
                    </p>
                    {% if not account %}
                    <p class="lead fw-small mb-2">
                        {{reservation.user.email}}
                    </p>
                    <p class="text-muted">
                        {{reservation.first_name}} {{reservation.last_name}}
                    </p>
                    {% endif %}
                </div>
                <div class="col-3">
                    {{reservation.reservation_date}}

                </div>

                {% if not account %}
                <!-- dla pracownika żeby mógł podejmować decyzje o "odebraniu" -->
                <div class="col-2">
                    {% if not reservation.received %}
                    <a type="button" data-toggle="modal" data-target="#receivedConfirmModal"
                        style="transform: translateY(20px);">
                        <div class="chbox-received-look" id="chboxReceived-{{reservation.id}}">
                        </div>
                        <label class="lead form-check-label chbox-label"
                            style="font-weight: normal; font-size: 22px; transform: translate(36px,-32px);"
                            for="chboxReceived-{{reservation.id}}">
                            Received
                        </label>
                    </a>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="receivedConfirmModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Set this reservation as
                                        received?<br></h5>
                                </div>
                                <div class="modal-body">
                                    The operation cannot be undone
                                    <!-- <div style="font-size: 14px; color: rgba(255,255,255,0.3);">
                                </div> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a href="{% url 'set_reservation_as_received' reservation.id.hashid %}"
                                        class="btn btn-primary" name="set_received_submit">Yes</a>

                                    <!-- <from method="post">
                                    <input type="hidden" name="reservation_id" value="{{reservation.id}}">
                                </from> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <a>
                        <input class="form-check-input chbox-reservation-look" type="checkbox" name="display_received"
                            id="chbox" checked disabled>
                        <label class="lead form-check-label"
                            style="font-weight: normal; font-size: 22px; transform: translate(5px,5px);">
                            Received
                        </label>
                    </a>
                    {% endif %}
                </div>
                {% else %}
                <!-- dla klienta żeby mógł tylko zobaczyć czy zostało odebrane -->
                <div class="col-3">
                    <a>
                        <input class="form-check-input chbox-reservation-look" type="checkbox" name="display_received"
                            id="chbox" {% if reservation.received %} checked {% endif %} disabled>
                        <label class="lead form-check-label"
                            style="font-weight: normal; font-size: 22px; transform: translate(5px,5px);">
                            Received
                        </label>
                    </a>
                </div>
                {% endif %}
            </div>
            <hr>
            {% for item in reservation.reservationitem_set.all %}
            <div>
                <diw class="row">
                    <div class="col-10">
                        <p class="lead fw-normal mb-1" style="margin-left: 10px;">
                            {{item.quantity}} x {{item.product.title}}
                        </p>
                        {% if not account %}
                        <p class="lead text-small text-muted" style="margin-left: 20px; font-size: 14px;">
                            ID: #{{item.product.product_id}}
                        </p>
                        {% endif %}
                    </div>
                    <div class="text-end col-2">
                        {{item.product.price|floatformat:2}}zł
                    </div>
                </diw>
                <hr>
            </div>
            {% endfor %}
            <h4 class="text-end">
                {{reservation.get_reservation_total|floatformat:2}}zł
            </h4>
        </div>
    </div>
    {% endfor %}

    {% else %}
    Reservations list is empty!
    {% endif %}

</div>