<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>WebsiteLogo</title>
        <polygon class="logo" xmlns="http://www.w3.org/2000/svg" points="91.822,10.995 91.822,5.312 52.71,29.765 "></polygon>
        <polygon class="logo" xmlns="http://www.w3.org/2000/svg" points="52.71,31.876 52.71,98.688 100,76.418 100,9.605 "></polygon>
        <polygon class="logo" xmlns="http://www.w3.org/2000/svg" points="8.178,10.995 8.178,5.312 47.29,29.765 "></polygon>
        <polygon class="logo" xmlns="http://www.w3.org/2000/svg" points="47.29,31.876 47.29,98.688 0,76.418 0,9.605 "></polygon>
    </symbol>
</svg>