{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<h1>Admin Slider</h1>
{% csrf_token %}
{% for slider_image in slider_images %}
<form method="post" action="{% url 'slider:change_slider' slider_image.id %}">
    {% csrf_token %}
    <div class="border p-3">
        <img src="{{ slider_image.image.url }}" alt="{{ slider_image.title }}" width="150">
        <p>title: {{ slider_image.title }}</p>
        <p>description: {{ slider_image.description }}</p>
        <label for="id_isInSlider">is in slider:</label>
        <input id="id_isInSlider" type="checkbox" name="isInSliderCheckBox"
                {% if slider_image.isInSlider %}checked{% endif %}>
        <br>
        <button class="btn border p-2" type="submit"> Save </button>
    </div>
{% endfor %}

</div> 

{% endblock content %}