{% extends 'base.html' %}

{% block content %}
<div class="form-signin w-100 m-auto">
    <form class="form-singin" method="post"> {% csrf_token %}
        <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">Register an account</h1>
    
        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address" required autofocus>
        <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" required>
        
        {% if debug_mode %}
        <input type="password" name="password1" class="form-control" id="floatingPassword1" value="Password1234!" placeholder="Password" required>
        <input type="password" name="password2" class="form-control" id="floatingPassword2" value="Password1234!" placeholder="Confirm Password" required>
        {% else %}
        <input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Password" required>
        <input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Confirm Password" required>
        {% endif %}
    
        {% for field in registration_form %}
            {% for error in field.errors %}
                <p style="color: red;"> {{error}} </p>
            {% endfor %}
        {% endfor %}
    
        {% if registration_form.non_field_errors %}
        <div style="color: red;">
            <p>{{registration_form.non_field_errors}}</p>
        </div> 
        {% endif %}
        <br/>
    
        <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
    </form>
    
    <br/>
    <br/>
    
    {% if debug_mode %}
    <h4>Join Us! All this users trusted us!</h4>
    <div class="container">
        <div class="d-flex flex-column">
            {% for account in registered_accounts %}
                <h4>{{account}}</h4>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}